
<!doctype HTML>
<html>
<head>
    <title>HTML Image Map</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: helvetica;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>HTML Image Map test - click the nose of Servo Doge.</h1>
    <img src="https://pbs.twimg.com/profile_images/621055164510658560/Cj-wqR55.png" alt="" usemap="#dogeMap">
    <map id="dogeMap" name="dogeMap"><area shape="rect" coords="122,211,190,265" title="Servo Experiments" alt="Servo Experiments" href="http://coookietester.herokuapp.com" target="_self" /></map>
</body>
</html>
