<p id="notice"><%= notice %></p>

<h1>Cookies</h1>
<script>
for(i=0;i<200;i++)
{
  document.cookie = "username"+i+"=John Smith; expires=Thu, 18 Dec 2002 12:00:00 UTC; path=/";
}

</script>

<div id = "data">
</div>

<script>
  document.getElementById("data").innerHTML = document.cookie
</script>


